# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Dataset
data/

# Model Files
saved_models/*.pth
saved_models/*.pt